// Base color scheme, from which everything else is derived
$color-main: #d4ab6a !default;
$color-accent: #d48b6a !default;
$color-complement: #496b89 !default;

// Backgrounds, can be colors, images, or any combination thereof
$main-bg: $color-main !default;
$page-bg: $color-main image-url('eastonbg.jpg') no-repeat top left / 100% auto fixed border-box !default;

// Accents
$border-radius: 10px !default;

// Measurements (widths, margins, etc)
$gutter-min: .313em !default;
$gutter-narrow: .625em !default;
$gutter-medium: .938em !default;
$gutter-wide: 1.563em !default;

$max-width: 75em !default;

$sidebar-width: 25% !default;
$content-width: 75% !default;

// Font Families
$font-main: "Junge", serif !default;
$font-accent: "Bilbo", cursive !default;
$font-mono: "PT Mono", "lucida console", "Courier New", monospace !default;
$font-header: "Bilbo Swash Caps", cursive !default;

// Font extenders
.heading {
  font-family: $font-accent;
}
.main { font-family: $font-main; }
.mono { font-family: $font-mono; }

// Display options
$indented-lists: false !default;
$list-styles: false !default;
